/* home */
.home{
  z-index: 1;
  transition: top 0.5s ease-out;
}

.home.inactive{
  top: 100%;
}

.home .innerWrapper{
  height: 100%;
  position: relative;
  background: #F4F7FA;
  overflow-y: auto;
  overflow-x: hidden;
}

/* header */
.home header{
  height: 130px;
  background: #FFF;
  transition: all 0.3s ease-in;
}

.home header .wrapper{
  display: flex;
  align-items: center;
  height: 139px;
}

.home header .title{
  width: 135px;
  height: 34px;
  flex-grow: 1;
  text-align: center;
	font-size: 38px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.89;
	letter-spacing: 0.5px;
	color: #32315C;
  margin-left: 1px;
}

.home header .menuIcon{
  width: 40px;
  height: 34px;
  margin-left: 30px;
  object-fit: contain;
	opacity: 0.5;
}

.home header .addIcon{
  width: 42px;
  height: 42px;
  margin-right:30px;
  object-fit: contain;
	opacity: 0.5;
}

/* search box */
.home .searchWrapper{
  padding-top: 1px;
  display: flex;
  align-items: center;
  background: #FFF;
}

.home .searchBox{
  display: flex;
  width: 100%;
  margin: 0 19px;
	height: 68px;
	border-radius: 100px;
	background-color: #F4F7FA;
}

.home .searchBox .icon{
  width: 27px;
  height: 26px;
  margin: 21px 0 0 43px;
  object-fit: contain;
	opacity: 0.5;
}

.home .searchBox .search{
  width: 100%;
  height: 100%;
  margin: 0 19px;
  opacity: 0.5;
	font-family: Avenir-Book;
	font-size: 28px;
	color: #1D1D26;
  background: transparent;
  border: none;
}

.home .searchBox .search:focus{
  outline-width: 0;
}

.home .searchWrapper .cancel{
  display: none;
  font-family: Avenir-Book;
	font-size: 28px;
	line-height: 0.79;
	color: #1d1d26;
  margin-right: 24px;
}

.home .searchWrapper .clear{
  display: none;
  position: relative;
  right: 24px;
}

/* search active */
.home header.searchActive{
  height: 0;
}

.home .innerWrapper.searchActive{
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.home .searchWrapper.searchActive{
  background: #FFF;
  width: 100%;
  padding: 23px 14px;
  border-radius: 0;
  z-index: 3;
}

.home .searchWrapper.searchActive .clear{
  display: block;
}

.home .searchWrapper.searchActive .searchBox{
  margin-right: 10px;
}

.home .searchWrapper.searchActive .search{
  opacity: 1;
}

.home .searchWrapper.searchActive .cancel{
  display: block;
}

.home .lists.searchActive{
  overflow: auto;
}

.home .filter.searchActive{
  display: none;
}

/* filters */
.home .filter{
  position: relative;
  height: 106.1px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  background: #FFF;
}

.home .filter .item{
  width: 50%;
  margin-bottom: 35px;
  opacity: 0.3;
	font-family: Avenir;
	font-size: 26px;
	font-weight: 900;
	line-height: 1.15;
	text-align: center;
	color: #1d1d26;
}

.home .filter .item.active{
  opacity: 1;
}

/* slider */
.home .filter .sliderWrapper{
  transition: left 0.5s ease-out;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  display: flex;
  justify-content: center;
}

.home .filter .slider{
  height: 3px;
  width: 68px;
  background-color: #1d1d26;
	box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.03);
  transition: all 0.5s ease-out;
}

.home .filter .sliderWrapper.completed{
  left: 50%;
}

.home .filter .sliderWrapper.completed .slider{
  width: 140px;
}

/* lists */
.home .lists{
  display: flex;
  position: relative;
  left: 0;
  width: 200%;
  height: 100%;
  transition: all .5s ease-out;
  background: #F4F7FA;
}

.home .lists.completed{
  left: -100%;
}

/* tasks list */
.home .lists .tasksList{
  background: #F4F7FA;
  position: relative;
  height: 100%;
  width: 50%;
}

.home .lists.completed .tasksList{
  max-height: 100%;
  overflow: hidden;
}

.home .listWrapper{
  position: relative;
}

.home .listLabelBg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100px;
  opacity: 0.04;
  background-image: linear-gradient(to top, rgba(50, 49, 92, 0.0), #32315C);
}

.home .listLabel{
  z-index: 1;
  height: 100px;
  padding: 37px 0 43px 50px;
  text-transform: uppercase;
	font-size: 24px;
	font-weight: 500;
	line-height: 0.83;
	letter-spacing: 2.4px;
	color: #ff2765;
}

.home .listWrapper ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.home .listWrapper li{
  height: 140px;
  margin: 10px 19px;
  border-radius: 10px;
}

.home .listWrapper .itemWrapper{
  background: #FFF;
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02);
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
  transition: all .5s ease-in;
}

.home .listWrapper .itemWrapper .status{
  width: 62px;
  min-width: 62px;
  height: 62px;
  border-radius: 100px;
	border: solid 2px #32315c;
  margin-left: 31px;
}

.home .listWrapper .itemWrapper .text{
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 100%;
  font-family: Avenir-Book;
	font-size: 36px;
	line-height: 0.83;
	color: #32315C;
  margin-left: 34px;
  margin-right: 4px;
  word-break: break-word;
  position: relative;
}

/* completed item */
.home .listWrapper .itemWrapper.completed{
  opacity: 0;
	background: #F4F7FA;
  height: 100px;
}

.home .listWrapper .itemWrapper.completed .strikethrough{
	position: absolute;
  top: 50%;
	display: block;
	width: 60%;
	height: 2px;
	background: #32315c;
	transform-origin: center left;
  margin: -1px 0 0 127px;
	animation: strikethrough 1s ease-out 1;
	transition: transform 1s ease-out;
}

@keyframes strikethrough{
	from { transform: scaleX(0); }
	to { transform: scaleX(1); }
}

/* completed list */
.home .lists .completedList{
  height: 101%;
  width: 50%;
  left: 50%;
}

.home .lists .completedList ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.home .lists .completedList li{
  height: 134px;
  margin: 0 18px;
	border-bottom: solid 1px rgba(151,151,151,0.3);
}

.home .lists .completedList .completedItemWrapper{
  display: flex;
  height: 100%;
  align-items: center;
}

.home .lists .completedList .completedItemWrapper .status{
  width: 62px;
  min-width: 62px;
  height: 62px;
  margin-left: 31px;
}

.home .lists .completedList .completedItemWrapper .text{
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 100%;
  opacity: 0.2;
	font-family: Avenir-Book;
	font-size: 36px;
	line-height: 0.83;
	color: #32315c;
  text-decoration: line-through;
  margin-left: 34px;
  margin-right: 4px;
  word-break: break-word;
}

.home .lists .completedList{
  max-height: 100%;
  overflow: hidden;
}

.home .lists.completed .completedList{
  max-height: inherit;
  overflow: inherit;
}
